*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainFooter{
    margin: 27rem 11rem 0rem 11rem;
    padding-top: 1rem;
    border-top: 1px solid #8f8a8a;
    display: flex;
    gap: 5.5rem;
}

h5{
    padding-top: 1rem;
    font-size: 1em;
    color: #1d1d1f;
    font-weight: 600;
}

 li{
    list-style: none;
    padding-top: 0.4rem;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.72);
    font-size: 1em;
}

li:hover{
    text-decoration: underline;
}