@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
}

.HeroSectionWrapper{
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
}

.MainSection{
    background: url('../../Assests/MainSetionBackground.svg');
    background-position: center center;
    height: 90vh;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px 0px 0px;
}

.Section2{
    background: url('../../Assests/Section2BG.svg');
    background-position: center center;
    height: 90vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1D1D1F;
    padding: 55px 0px 0px 0px;
}

.Section2 h1{
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
}

.Section2 h5{
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
}



.MainSection h1{
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
}

.MainSection h5{
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
}

.ctaLinks{
    display: flex;
    gap: 50px;
    align-items: center;
    margin-top: 1.65em;
}

.ctaLinks button{
    color: #2997ff;
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-size: 21px;
    position: relative;
    cursor: pointer;
}

.ctaLinks button::after{
    content: "\F285";
    font-family: bootstrap-icons;
    position: absolute;
    right: -20px;
    top: 5px;
    font-size: 15px;
}



